 /* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-decoration-color: red;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffffff;
    color: #e65d78;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Setting global fonts */
html *
{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* *About** Section */
.img_about
{
    float: left;
    margin: 20px 60px 10px 120px;
}

.para_about
{
    width: 70em;
    word-wrap: break-word;
}

.button {
    background-color: white;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_filled {
    background-color: #0fb4b2;
    height:50px;
    width:140px;
    border-radius: 8px;
}

.button_filled:hover {
    background-color: white;
    color: #0fb4b2;
    border: 2px solid #0fb4b2;
}

.button_bordered {
    background-color: white;
    color: #0fb4b2;
    border: 2px solid #0fb4b2;
    border-radius: 8px;
    height:50px;
    width:140px;
}

.button_bordered:hover {
    background-color: #0fb4b2; /* Green */
    color: white;
}
/* parallax */
.parallax {
    /* The image used */
    background-image: url("../assets/images/wow.jpeg");

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}