@import url("font-awesome.min.css");
/* Add a black background color to the top navigation */

 .topnav {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-decoration-color: red;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffffff;
    color: #e65d78;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Setting global fonts */
html *
{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* *About** Section */
.img_about
{
    float: left;
    margin: 20px 60px 10px 120px;
}

.para_about
{
    width: 70em;
    word-wrap: break-word;
}

.button {
    background-color: white;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_filled {
    background-color: #0fb4b2;
    height:50px;
    width:140px;
    border-radius: 8px;
}

.button_filled:hover {
    background-color: white;
    color: #0fb4b2;
    border: 2px solid #0fb4b2;
}

.button_bordered {
    background-color: white;
    color: #0fb4b2;
    border: 2px solid #0fb4b2;
    border-radius: 8px;
    height:50px;
    width:140px;
}

.button_bordered:hover {
    background-color: #0fb4b2;
    color: white;
}

/*  */
/* Section **My Work** */
/*  */
div.tab {
    overflow: hidden;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ffffff;
    color: #e65d78;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ffffff;
    color: #e65d78;
}

/* Style the tab content */
.tabcontent {
    text-align: center;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ffffff;
    border-top: none;
}

div.my_work_box1 {
    background-color: #ffffff;
    width: 800px;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 10px;
    margin-left: 430px;
}

div.my_work_box2 {
    background-color: #ffffff;
    width: 1100px;
/*     border: 1px solid green; */
    padding: 10px;
    margin: 10px;
    margin-left: 120px;
}

.floating_box {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 10px;
/*     border: 3px solid #73AD21; */
}

.floating_box:hover{
    border: 1px solid #0fb4b2;
}

/* parallax */
.parallax {
    /* The image used */
    background-image: url("../assets/images/wow.jpeg");

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
    
 /* Stuff for font awesome */
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    color: #e65d78;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Github */
.fa-github {
    background: #000000;
    color: white;
}